@model IEnumerable<TADE.Models.CompanyDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLIne1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLIne2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLIne3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NatureofBusiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutTheCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailedDescriptionAboutCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLIne1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLIne2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLIne3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatureofBusiness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanySize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutTheCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailedDescriptionAboutCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
